@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $mercury;
}

button {
  background: none;
  border: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  &__content {
    max-width: 960px;
    min-height: calc(100vh - 147px);
    overflow-y: auto;
    margin: 10px auto;
    padding: 15px 10px;
    background: $white;
  }
}

/* group styles */

.groups {
  &-table {
    padding-bottom: 20px;
    @media screen and (min-width: 48em) {
      width: 43%;
    }
    &__title {
      padding: 8px 0;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
    }
    &__table {
      width: 100%;
      border-spacing: 0;
      font-size: 10px;
      @media screen and (min-width: 48em) {
        font-size: 16px;
      }
      th {
        text-align: left;
        &:not(:nth-of-type(-n+1)) {
          text-align: center;
        }
      }
      td {
        height: 30px;
        vertical-align: middle;
        border-bottom: 1px solid $mercury;
        @media screen and (min-width: 48em) {
          height: 40px;
        }
        &:not(:nth-of-type(-n+2)) {
          text-align: center;
          width: 7%;
          @media screen and (min-width: 48em) {
            max-width: 25px;
          }
        }
      }
      a {
        color: $cod-gray;
      }
    }
    &__cell {
      &-index {
        width: 15px;
      }
      &-team {
        display: flex;
        align-items: center;
        img {
          width: 24px;
          height: 24px;
          margin: 0 6px 0 0;
        }
      }
    }
  }
  &-view {
    @media screen and (min-width: 48em) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    > div {
      @media screen and (min-width: 48em) {
        margin: 0 15px;
      }
    }
  }
}

/* header styles */

.header {
  &-bar {
    padding: 8px;
    border-bottom: 1px solid $mercury;
    background: $white;
    &__inner {
      max-width: 960px;
      margin: 0 auto;
    }
    &__logo {
      max-width: 110px;
      margin-left: 8px;
    }
  }
}

.main {
  &-nav {
    position: relative;
    z-index: 600;
    width: 100%;
    border-top: 1px solid $mercury;
    background: $venice-blue;
    @media screen and (min-width: 48em) {
      border: 0;
    }
  }
  &__list {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    color: $white;
    text-align: center;
    @media screen and (min-width: 48em) {
      text-align: left;
    }
    li {
      @media screen and (min-width: 48em) {
        width: auto;
        padding: 10px 15px;
      }
      &.active,
      &:hover {
        background: $green-vogue;
      }
    }
    .fa-icon {
      width: 20px;
      height: 20px;
      margin-bottom: 3px;
      @media screen and (min-width: 48em) {
        display: none;
      }
    }
  }
}


/* matches styles */

.matches {
  &>.tabs-component {
    &>.tabs-component-tabs {
      display: flex;
      margin-bottom: 10px;
      .tabs-component-tab {
        display: flex;
        &.is-active {
          border-bottom: 2px solid $venice-blue;
        }
        a {
          padding: 6px 8px;
          font-size: 12px;
          color: $venice-blue;
        }
      }
    }
  }
}

.info {
  &-bar {
    position: relative;
    min-height: 32px;
    padding: 2px 8px;
    line-height: 28px;
    font-size: 14px;
    color: $white;
    background: $green-vogue;
    border-radius: 3px;
    @media screen and (min-width: 48em) {
      font-size: 16px;
    }
    &__date {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8px;
      padding: 3px 5px;
      font-size: 12px;
      font-weight: bold;
      line-height: 12px;
      background: $curious-blue;
      border-radius: 3px;
    }
  }
}

.match {
  .tabs {
    &-component {
      &-tabs {
        display: flex;
      }
      &-tab {
        display: flex;
        width: 100%;
        background: $green-vogue;
        text-align: center;
        &.is-active {
          background: $venice-blue;
        }
        a {
          width: 100%;
          padding: 8px 5px;
          font-size: 12px;
          color: $white;
          @media screen and (min-width: 48em) {
            font-size: 16px;
          }
        }
      }
      &-panels {
        margin: 10px 0;
      }
    }
  }
  &-events {
    font-size: 12px;
    @media screen and (min-width: 48em) {
      font-size: 16px;
    }
    &__event {
      display: flex;
      align-items: center;
      min-height: 20px;
      margin: 3px 0;
      &--away {
        justify-content: flex-end;
      }
    }
    &__time {
      min-width: 24px;
    }
    .event {
      &-tag {
        margin: 0 4px;
        .fa-icon {
          display: none;
        }
        &--goal {
          .fa-icon {
            &.fa-icon-futbol {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.event {
  &-tag {
    &--goal {
      .fa-icon.fa-icon-futbol {
        display: inline-block;
      }
      &-own {
        .fa-icon.fa-icon-futbol {
          display: inline-block;
        }
      }
      &-penalty {
        .fa-icon.fa-icon-futbol {
          display: inline-block;
        }
      }
    }
    &--substitution {
      &-in {
        .fa-icon.fa-icon-angel-up {
          display: inline-block;
          color: $mountain-meadow;
        }
      }
      &-out {
        .fa-icon.fa-icon-angel-down {
          display: inline-block;
          color: $red;
        }
      }
    }
    &--yellow {
      &-card {
        width: 12px;
        height: 18px;
        background-color: $candlelight;
        border-radius: 2px;
      }
    }
    &--red {
      &-card {
        width: 12px;
        height: 18px;
        background-color: $red;
        border-radius: 2px;
      }
    }
    &--goal {
      &-own {
        color: $red;
      }
    }
  }
}
